.chat-main

  .group-info
    .group-info__title
      test
      .member
        Member:Yuki
    .group-info__edit
      = link_to "#", class: "contents__btn contents__btn--edit-group" do
        Edit


  .messages
  = render @messages
  .message-list
    .message-info
      .message-info__user
        = message.user.name
      .message-info__data
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .lower-message
      - if message.content.present?
        %p.lower-message__content
          = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
    


  .footer
    .input-box
      .input-box__message
        = form_for [@group, @message] do |f|
          %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        .input-box__image
          %label{class: "input-box-image"}
            = icon('fas', 'image')
            %input{type: "file", class: "input-box__image__file"}
        %input{type: "submit", name: "commit", value: "Send", class: "send-btn" }
